<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Afaq Shahid - Developing Solutions</title>
	<!---custom css link---->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="icon" type="text/css" href="{% static 'img/afaq.jpeg' %}">

	 <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>

	<!--header design-->
	<header>
		<a href="{% url 'home' %}" class="logo">Afaq Shahid.</a>

		<ul class="navlist">
			<li><a href="{% url 'home' %}" class="active">Home</a></li>
			<li><a href="#about">About Me</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#contact">Contact Me</a></li>
		</ul>

		<div class="bx bx-menu" id="menu-icon">
			
		</div>
	</header>

    {% block content %}
    
    {% endblock content %}

    {% include 'partials/footer.html' %}