{% extends 'partials/header.html' %}
{% load static %}
{% block content %}

	<!--home section design-->
	<section class="home" id="home">
		<div class="home-text">
			<div class="slide">
				<span class="one">Hello</span>
				<span class="two">I'm</span>
			</div>
			<h1>Afaq Shahid</h1>
			<h3>Full Stack<span> Developer.</span></h3>
			<p>Cybersecurity enthusiast & Full Stack Web Application Mastero with 3+ years experience that keep customers <br> coming back for about services makes best effort.</p>
			<div class="button">
				<a href="#contact" class="btn">Say Hello</a>
				<a href="https://github.com/CodeAfaq" target="blank" class="btn2"><span><i class='bx bxl-github'></i></span>Watch My Work</a>
			</div>
		</div>
	</section>

	<!--about section design-->
	<section class="about" id="about">
		<div class="about-img">
			<img src="{% static 'img/profile-pic 4.png' %}">
		</div>

		<div class="about-text">
			<h2>About <span>Me</span></h2>
			<h4>Cybersecurity Enthusiast X Full Stack Mastero !</h4>
			<p><b>Afaq Shahid</b> is a <b>seasoned web application developer specializing in MERN Stack and an addition skill of django,</b> as well he is a <b>Practical Ethical Hacker & Head Technical Consultant at Binary Breeze</b> for 3+ years and an entrepreneur. Providing a bunch of <b>IT Enabled Servies</b>, have  a group of satisfied clients. Custom Web Solution & Penetration Testing Services. 24x7 Customer Support. Secure Payment Gateway.<b> Get A Free Web Quote</b>. 24/7 Chat Support.<br> <b>Services:</b> Web Design & Development, Landing Page Design, App development, Software Development, Active Directories, Training Programs</p>
			<a href="#" class="btn">Print Cv</a>
		</div>
	</section>

	<!--service section design-->
	<section class="services" id="services">
		<div class="main-text">
			<p>What I am Expert In</p>
			<h2><span>My</span> Services</h2>
		</div>

		<div class="services-content">
			<div class="box">
				<div class="s-icons">
					<i class='bx bx-mobile-alt' ></i>
				</div>
				<h3>Web Flow</h3>
				<p>One way to categorize the activities is in terms of the professional’s area of expertise such as competitive analysis, corporate strategy.</p>
			</div>

			<div class="box">
				<div class="s-icons">
					<i class='bx bx-code-alt' ></i>
				</div>
				<h3>Web Development</h3>
				<p>HTML, CSS, JS, BOOTSTRAP, PYTHON, DJANGO, POSTGRESQL, AWS(RDS/S3), HEROKU, RAILWAYS.</p>
			</div>

			<div class="box">
				<div class="s-icons">
					<i class='bx bx-edit-alt' ></i>
				</div>
				<h3>Creative Design</h3>
				<p>Uses alot of best & trusted designing tools by world class developers, like Adobe Xd, Figma, Photoshop, Illustrator.</p>
			</div>

			<div class="box">
				<div class="s-icons">
					<i class='bx bx-edit-alt' ></i>
				</div>
				<h3>System Administration</h3>
				<p>Providing active directories solution using top rated servers like Microsoft Server 2012 R2 - 2019 - 2022, Microsoft Azure, Linux Servers.</p>
			</div>
			<div class="box">
				<div class="s-icons">
					<i class='bx bx-edit-alt' ></i>
				</div>
				<h3>Cybersecurity Solutions</h3>
				<p>Providing IDS, IPS solutions and premium services of penetration testing and ethical hacking.</p>
			</div>

		</div>
	</section>

	<!--portfolio section design-->
	<section class="portfolio" id="portfolio">
		<div class="main-text">
			<p>Portfolio</p>
			<h2><span>Latest</span> Project</h2>
		</div>

		<div class="portfolio-content">
			{% for project in project %}
			<div class="row">
				<img src="{{project.featured_image}}">
				<div class="layer">
					<h5>{{project.title}}</h5>
					<p>{{project.description}}</p>
					<a href={{project.source_link}} target="_blank"><i class='bx bx-link-external' ></i><p></p></a>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>

	<!--contact section design-->
	<section class="contact" id="contact">
		<div class="contact-text">
			<h2>Contact <span>Me!</span></h2>
			<h4>If You Have Any Project In Your Mind.</h4>
			<p>I'm a Backend Developer - creating bold & brave backend designs for companies all across the world.</p>
			<div class="list">
				<li><a>+44-7376-623634</a></li>
				<li><a>afaqshahid@binarybreeze.co.uk</a></li>
				<li><a>Like Share & Subscribe</a></li>
			</div>

			<div class="contact-icons">
				<a href="#"><i class='bx bxl-facebook' ></i></a>
				<a href="#"><i class='bx bxl-twitter' ></i></a>
				<a href="https://github.com/CodeAfaq"><i class='bx bxl-github' ></i></a>
			</div>
		</div>

		<div class="contact-form">
			<form action="#" method="POST">
				{% csrf_token %}
				<input name="name" type="name" placeholder="Your Name" required>
				<input name="email" type="email" placeholder="Your Email Address" required>
				<input name="number" type="" placeholder="Your Mobile Number" required>
				<textarea name="description" name="" id="" cols="35" rows="10" placeholder="How Can I Help You" required></textarea>
				<input type="submit" value="Send Message" class="submit" required>
			</form>
		</div>
	</section>

	{% endblock content %}
